.filter-highlight {
    background: #e2f4ff;
    color: #121d28;
    border-radius: 0.5em;
    padding: 0.5em 0.7em;
}

input span {
    outline: none;
    border: none;
    background: none;
    min-height: 36px;
    align-items: center;
    font: inherit;
    width: 100%;
    padding: 0 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
